<nav class="navbar navbar-default main-nav">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/index.html">JDeesy</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" role="tablist">
        <li class=<%= 'active' if current_page.path == 'index.html' %> ><%= link_to "Resume", '/index.html' %></li> 
        <li class=<%= 'active' if current_page.path == 'projects.html' %> ><%= link_to "Projects", '/projects.html' %></li>
        <li class=<%= 'active' if current_page.path == 'about.html' %> ><%= link_to "About Me", '/about.html' %></li>
        <li class=<%= 'active' if current_page.path == 'blogs.html' %> ><%= link_to "Blogs", '/blogs.html' %></li>
      </ul>
    </div>
  </div>
</nav>   